{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ product.name }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                {% if product.photo %}
                            <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img class="card-img-top" src="{% static 'no-image-900x.jpg' %}" width="250" height="250" alt="user picture">
                    {% endif %}
            </div>
        </div>
        <p><b>Категория:</b> {{ product.get_category_display }}</p>
        <p><a href="{% url 'webapp:product_update' product.pk %}" class="btn btn-primary">Изменить</a></p>
        <p><a href="{% url 'webapp:product_delete' product.pk %}" class="btn btn-danger">Удалить</a></p>
        <p><a href="{% url 'webapp:otziv_create' product.pk %}" class="btn btn-danger">Добавить отзыв</a></p>
        <p><b><h4>Отзывы:</h4></b></p>
    {% for otz in otziv %}
        <p>Пользователь: {{ otz.user }}<br> </p>
        <p>Email: {{ otz.user.email }}<br> </p>
        <p>Отзыв: {{ otz.description}}<br></p>
        <p>Оценка: {{ otz.ocenka}}</p>
        <p><a href="{% url 'webapp:otziv_update' otz.pk %}" class="btn btn-danger">Редактировать отзыв</a>
        <a href="{% url 'webapp:otziv_delete' otz.pk %}" class="btn btn-danger">Удалить отзыв</a></p><hr>
       {% endfor %}
  </div>
</div>
    </div>
{% endblock %}
